@import './components';
@import 'pages';

footer {
  padding: 20px 0;
  background: #272727;
  color: #fff;
  .subscribe-container {
    width: 50%;
  }
  label {
    border-bottom: 1px solid gray;
    padding: 10px 20px;
  }
  #subscribeInput {
    background-color: #3b3b3b;
    border: none;
    border-radius: 5px;
    width: 125%;
    &:focus {
      border: none;
      box-shadow: none;
      background-color: #4e4e4e;
    }
  }
}
