@import './components/components';
.custom-card-services {
  box-shadow: 0 0 15px #eef0ea;
  border-radius: 15px;
  background-color: #fff;
  padding: 20px 30px 40px;
  .row div:not(:first-child) {
    border-right: 1px solid #eef0ea;
  }
}

footer {
  padding: 20px 0;
  background: #272727;
  color: #fff;
  .subscribe-container {
    width: 50%;
  }
  label {
    border-bottom: 1px solid gray;
    padding: 10px 20px;
  }
  #subscribeInput {
    background-color: #3b3b3b;
    border: none;
    border-radius: 5px;
    width: 125%;
    &:focus {
      border: none;
      box-shadow: none;
      background-color: #4e4e4e;
    }
  }
}

.custom-card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .btn {
    width: 50%;
  }
}
