<section class="custom-container mt-5">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex align-items-center justify-content-center">
          <img
            src="../assets/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg"
            class="d-block w-100"
            alt="coffee"
          />
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex align-items-center justify-content-center">
          <img
            src="../assets/math-6GDW9BVdmkw-unsplash.jpg"
            class="d-block w-100"
            alt="coffee"
          />
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex align-items-center justify-content-center">
          <img
            src="../assets/mike-kenneally-TD4DBagg2wE-unsplash.jpg"
            class="d-block w-100"
            alt="coffee"
          />
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex align-items-center justify-content-center">
          <img
            src="../assets/mike-kenneally-tNALoIZhqVM-unsplash.jpg"
            class="d-block w-100"
            alt="coffee"
          />
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</section>
