<footer>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center align-items-center">
        <img width="50" src="../assets/noun-coffee-2777561.png" />
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <label for="subscribeInput" class="mb-2">تابع النشرة البريدية</label>
        <div
          class="subscribe-container d-flex justify-content-center align-items-center"
        >
          <div>
            <input type="email" class="form-control" id="subscribeInput" />
          </div>
          <div>
            <button class="btn btn-secondary">متابعة</button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <p>جميع الحقوق محفوظة للمتجر سنة 2023</p>
        <div class="social-media-links">
          <a href="https://www.facebook.com">
            <i class="fab fa-facebook-square fa-lg"></i>
          </a>
          <a href="https://www.twitter.com">
            <i class="fab fa-twitter-square fa-lg"></i>
          </a>
          <a href="https://www.instagram.com">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
