<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="navbar-header">
      <button
        class="navbar-toggler btn btn-icon"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="./index.html" class="me-5">
        <img width="50" src=".././assets/noun-coffee-2777561.png"
      /></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">الصفحة الرئيسية </a>
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            id="navbarDropdown2"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >أقسام الصفحة</a
          >
          <ul class="dropdown-menu text-end">
            <li>
              <a class="dropdown-item" href="#">القهوة التركية</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">القهوة السوداء</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">الكابتشينو</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="./distributors.html" class="nav-link">الموزعين</a>
        </li>
        <li class="nav-item">
          <a href="./contactUs.html" class="nav-link">تواصل معنا</a>
        </li>
        <li class="nav-item">
          <a href="./aboutUs.html" class="nav-link">من نحن</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
