<section class="custom-product-container row my-5">
  <div
    id="carouselExample"
    class="carousel slide col-12 col-md-7"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators" id="product-indicators"></div>
    <div class="carousel-inner" id="carousel-items-containers"></div>
  </div>
  <div class="custom-product-info-container col-12 col-md-5">
    <button class="btn btn-secondary" id="add-cart-btn">
      اضافة الى السلة <i class="fas fa-cart-plus"></i>
    </button>
  </div>
</section>
